@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y0urjm');
  src:  url('fonts/icomoon.eot?y0urjm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y0urjm') format('truetype'),
    url('fonts/icomoon.woff?y0urjm') format('woff'),
    url('fonts/icomoon.svg?y0urjm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e947";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-search:before {
  content: "\e986";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-warning:before {
  content: "\ea07";
}
